<html>
<head>
  <title>Personal Library</title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    code {
      background-color: rgb(63, 52, 52);
    }
  </style>
</head>
<body>
<div id='container'>
  <header style='text-align: center; margin-top: 50px;'>
    <h1 style='font-weight: bolder;'>Personal Library</h1>
    <p>(a project for freeCodeCamp's Information Security and Quality Assurance certification)</p>
  </header>
  <br>
  <div id='testAPIContainer'>
    <h4 style="font-weight: 600; color:steelblue">Sample API tests with JSON response</h4>
    <div>
      To get a better sense of what is going on behind the scenes, you can use the following two forms to submit new books and new book comments to the library, respectively. The API will respond to your POSTs with a JSON file.
    </div>
    <br>
    <div id ='testAPI'>
    <div>
      <form action="/api/books" method="post" class="mborder">
        <h4 style='font-weight: bold; color:whitesmoke'>Add a Book to the library</h4>
        <label for="title" >Book Title</label>
        <input class='form-control' placeholder="title" type="text" id="title" name="title" value=""><br>
        <div style="text-align: right;">
          <input class='myBtn' type="submit" value="Submit"><br>
          <small style="margin-top: 5px; display: block;">POST /api/books</small>
        </div>
      </form>
    </div>
    <div>
      <form action="" method="post" id="commentTest" class="mborder">
        <h4 style='font-weight: bold; color:whitesmoke'>Comment a Book in the library</h4>
        <div class=''>
          <label for="idinputtest">Book ID </label>
          <input class='form-control'  placeholder="_id" type="text" name="id" value="" id="idinputtest"><br>
        </div>
        <div class=''>
          <label for="comment">Comment</label>
          <input class='form-control' placeholder="comment" type="text" id="comment" name="comment" value=""><br>
        </div>
        <div style="text-align: right;">
        <input class='myBtn' type="submit" value="Submit">
        <small style="margin-top: 5px; display: block;">POST /api/books/{bookid}</small>
        </div>
      </form>
    </div>
  </div>
  </div>
  <div id='fontEnd'>
  <div id='sampleui' style="width: 100%; margin-top:40px">
    <h4 style="font-weight: 600; color:steelblue">Sample Front End</h4>
    <div>
      Here you can play with adding new books, seeing existing comments for each book in the library, and adding new comments to existing books. You can also delete individual books as well as delete all the books in the library.
    </div>
    <br>
    <form id="newBookForm" class="mborder">
      <label for="bookTitleToAdd">New Book Title</label>
      <input style='flex-grow: 4;'  class='form-control' type="text" id="bookTitleToAdd" name="title" placeholder="Book name" style="width: 295px">
      <button class='myBtn' id="newBook">Add Book</button>
    </form>
    <div id='bookEditor'>
    <div id='display' class='booksHolder'>
      <h4 style='font-weight: bold; color:steelblue'>Books</h4>
    </div>
    <div id='bookDetail' class='booksHolder'>
      <p id='detailTitle'>Select a book to see it's details and comments</p>
      <ol id='detailComments'></ol>
    </div>
    </div>
    <button class='myBtnDel' id='deleteAllBooks'>Delete all books...</button>
  </div>
  </div>
  <p id='info'></p>
</div>
<footer>
  designed and coded by <a href="https://instagram.com/sat_ig462/" target="_blank">Sat_ig462</a> for freeCodeCamp's 
  <a href="https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-and-quality-assurance-projects/personal-library" target="_blank" title="Visit the project page">Information Security and Quality Assurance - Personal Library Project</a> 
  and built upon the <a href="https://github.com/freeCodeCamp/boilerplate-project-library/" target="_blank" title="Project boilerplate on GitHub">
  project-specific boilerplate code</a> using JavaScript,
  <a href="https://api.jquery.com/" title="Learn more about jQuery">jQuery</a> and AJAX, 
  <a href="https://nodejs.org/" title="Learn more about Node.js">Node.js</a>, 
  <a href="https://expressjs.com/" target="_blank" title="Learn more about Express.js">Express.js</a>,
  <a href="https://www.mongodb.com//" target="_blank" title="Learn more about MongoDB">MongoDB</a>,
  <a href="https://www.chaijs.com/" target="_blank" title="Learn more about Chai.js">Chai.js</a>,
  and a pinch of CSS.
</footer>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/public/client.js"></script>
<script>
  /*
  *  For #sampleposting to update form action url to test inputs book id
  */
  $(function() {
    $('#commentTest').submit(function(){
      let  id = $('#idinputtest').val();
      $(this).attr('action', "/api/books/" + id);
    });
  });
</script>
</body>
</html>
